bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/!/Gateway/services/plugins/Lecti/Microsoft.Net.Http.Headers.dll

!/Gateway/services/plugins/Lecti/Microsoft.Extensions.Configuration.Abstractions.dll

!/Gateway/services/plugins/Lecti/Microsoft.AspNetCore.WebUtilities.dll

!/Gateway/services/plugins/Lecti/Microsoft.Extensions.DependencyInjection.Abstractions.dll

!/Gateway/services/plugins/Lecti/Lecti.dll

!/Gateway/services/plugins/Lecti/Lecti.pdb

!/Gateway/services/plugins/Lecti/Microsoft.AspNetCore.Http.dll

!/Gateway/services/plugins/Lecti/Microsoft.AspNetCore.Http.Features.dll

!/Gateway/services/plugins/Lecti/Microsoft.AspNetCore.Http.Abstractions.dll

!/Gateway/services/plugins/Lecti/Microsoft.Extensions.Primitives.dll

!/Gateway/services/plugins/Lecti/Microsoft.Extensions.ObjectPool.dll

!/Gateway/services/plugins/Lecti/Microsoft.Extensions.Options.dll

!/Gateway/services/plugins/Lecti/GatewayPluginContract.pdb

!/Gateway/services/plugins/Lecti/GatewayPluginContract.dll

!*.dll
